/*-- team --*/

.team-grids img {
	margin: 0 auto;
	width: inherit;
	width: 100%;
}

.team-grids {
	position: relative;
	overflow: hidden;
}

.team-grids h4 {
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}
.team-grids h6{
    font-size: 0.9em;
    font-weight: 400;
    color: #03cce6;
    letter-spacing: 1px;
    margin: 1em 0;
}
.caption p {
	font-size: 15px;
	color: #76daff;
	letter-spacing: .6px;
	margin: 4px 0 11px;
}
.social-icons-section a {
    color: #636c72;
}
.social-icons-section a:hover {
    color: #76daff;
}
.team-info {
    position: absolute;
    bottom: -227px;
    margin: 0;
    left: 15px;
    background: rgb(17, 18, 19);
    border-top:4px solid #76daff;
    padding: 1em;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
    width: 90%;
    text-align: center;
}

.team-grids:hover div.team-info {
	bottom: 0px;
}

.team-grids:hover {
	border-color: #76daff;
}
.social-icons-section {
    margin-top: 0.5em;
}
.caption {
	padding: 0px;
}
.team-info .social-icons-section a {
	margin: 0em .5em;
}

.team-grids img {
    width: 100%;
}

/*-- //team --*/
/*-- /responsive --*/
@media(max-width:1080px){
    .team-grids h4 {
        font-size: 1em;
    }
    .team-info {
		width: 88%;
	}
}
@media(max-width:991px){
    .team-grids h4 {
        font-size:0.9em;
    }
    .team-info {
        width: 84%;
    }
}
@media(max-width:767px){

    .team-grids {
        margin: 1em 0;
    }
    .team-info {
        width: 89%;
    }
}
/*-- //responsive --*/